@import url(src/nav.css);
@import url(src/barra.css);
@import url(src/conteudo_inicio.css);

body {
    background-image: linear-gradient(#00112b00, #00112b46), url('../assets/backgrond.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    background-color: #00112b;
    min-height: 100vh;
}
.filtro{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
html {
    scroll-behavior: smooth;
}

